<div id="users">
    <table class="table table-striped table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">Photo</th>
          <th scope="col">Name</th>
          <th scope="col">Posts</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <%= render user %>
        <% end %>
      </tbody>
    </table>
  </div> 
